<!-- <div class="row">
  <div id="exercise-pane" class="col-sm">
    <h1 class="text-center">{{currentExercise.exercise.title}}</h1>
    <div class="image-container row">
      <img class="img-fluid col-sm" [src]="'/assets/images/' +  
                                      currentExercise.exercise.image" />
    </div>
    <div class="progress time-progress row">
      <div class="progress-bar col-sm" 
            role="progressbar" 
            [attr.aria-valuenow]="exerciseRunningDuration" 
            aria-valuemin="0" 
            [attr.aria-valuemax]="currentExercise.duration"
            [ngStyle]="{'width':(exerciseRunningDuration/currentExercise.duration) * 100 + '%'}">
      </div>
    </div>
    <h1>Time Remaining: {{currentExercise.duration-exerciseRunningDuration}}</h1>
  </div>
</div> -->

<div class="row pt-4">
  <div id="description-panel" class="col-sm-3">
    <app-exercise-details 
      [description]="currentExercise.description"
      [steps]="currentExercise.procedure">
    </app-exercise-details>
</div>
<div id="exercise-pane" class="col-sm-6">  
    <h1 class="text-center">{{currentExercise.title}}</h1>
    <div class="image-container row">
      <img class="img-fluid col-sm" [src]="'/assets/images/' + currentExercise.image" />
    </div>
    <div class="progress time-progress row">
      <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="exerciseRunningDuration" aria-valuemin="0" [attr.aria-valuemax]="currentExercise.duration"
        [ngStyle]="{'width':(exerciseRunningDuration/currentExercise.duration) * 100 + '%'}">
      </div>
    </div>
    <h1>Time Remaining: {{currentExercise.duration-exerciseRunningDuration}}</h1>
  </div>
</div>
<div id="video-panel" class="col-sm-3">
  <app-yt-player [videos]="currentExercise.videos"></app-yt-player>
</div> 